separator {
    background: @separator-color;
}

.combo {
    padding: 5px;
}

.qubes_version_label {
    margin: 10px 0 10px 0;
    color: @soft-text-color;
    font-size: 120%;
    font-weight: 700;
}

.content_box {
    background: @top-background-2;
    border-width: 2px;
    border-color: @background-frame;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: @background-frame 2px -2px 2px -2px inset;
    padding-top: 50px;
    padding-bottom: 150px;
}

#main_notebook {
    border-width: 1px;
    border-color: @bottom-background;
    border-style: solid;
}

#main_notebook header {
    background: @top-background;
    border-width: 0px;
}

#main_notebook header tabs tab {
    border-width: 0;
    box-shadow: @background-frame 0px 2px 2px -2px inset;
    margin: 0px;
    font-weight: bold;
}

#main_notebook header tabs tab:checked {
    background: @qubes-blue;
    color: white;
}

#main_notebook header tabs tab:hover {
    box-shadow: @background-frame 0px 2px 2px -2px inset;
    border-width: 0px;
    border-color: @background-frame;
}

.category {
    padding: 20px;
}

.explanation {
    margin: 0 0 20px 0;
}

.section_title {
    margin-top: 20px;
    margin-bottom: 5px;
}

.flowbox_container {
    margin: 10px 30px 10px 30px;
    background: @top-background;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: @separator-color;
}

.flowbox_title {
    color: @soft-text-color;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.flowbox_flowbox {
    background: @top-background;
    padding: 10px;
}

.red_code {
    font-family: SourceCodePro;
    color: @red-code;
    margin-left: 5px;
}

.explanation_text {
    color: @misc-text-color;
    margin-left: 5px;
}

.add_label {
    color: @qubes-blue;
    font-weight: bold;
}

.add_label:disabled {
    color: @misc-text-color;
    font-weight: bold;
}

.add_button {
    border: 0;
}

.permission_list {
    background: @top-background-2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.permission_row {
    background: @top-background-2;
    padding:10px;
}

.permission_row:hover {
    background: @qubes-blue;
}

.edited_row {
    padding: 10px 10px 10px 10px;
    background: @top-background;
    border-color: @background-frame;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}

.edited_row:hover {
    background: @top-background;
}

.problem_box {
    margin: 5px 80px 5px 40px;
    padding: 10px;
    border: 1px;
    border-style: solid;
    border-color: @background-frame;
    background: @problem-background;
}

.problem_list {
    margin-top: 20px;
    background: @problem-background;
    padding-left: 50px;
}

.problem_row:hover {
    background: @problem-background;
}

.enable_opts {
    margin: 10px 0 10px 0;
}

.related_opts {
    margin: 5px 0 5px 0;
}

.raw_text {
    margin: 10px 25px 10px 35px;
    background: @top-background;
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: @background-frame;
}

.text_button {
    color: @dark-blue;
    font-weight: 700;
    border: 0px;
}

.small_title {
    font-size: 80%;
    font-weight: 700;
    margin-bottom: 10px;
}

.didascalia {
    font-style: italic;
    color: @misc-text-color;
    margin-right: 20px;
    margin-left: 20px;
}

.info_box {
    padding: 20px 40px 20px 40px;
    margin: 5px 100px 5px 60px;
    background: @info-background;
    border-width: 1px;
    border-style: solid;
    border-color: @background-frame;
}

.action_text {
    color: @text-color;
    font-weight: 700;
}

.action_text_soft {
    color: @text-color;
}
